<header class="page-header">
  <h1>Dashboard</h1>
</header>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="4">Counts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Users' Count:
      </td>
      <td>
        <%= @user_count  %>
      </td>
      <td> 
        <%= link_to 'All Users', [:admin, :users], class: 'btn btn-success' %>
      </td>  
    </tr>
    <tr>
      <td>
        Posts' Count:
      </td>
      <td>
        <%= @post_count %>
      </td>
      <td> 
        <%= link_to 'All Posts', [:admin, :posts], class: 'btn btn-success' %>
      </td>  
    </tr>
  </tbody>
</table>


