<div class="d-flex justify-content-center">
<img alt='ruby' src='https://raw.githubusercontent.com/defsax/fly-fi/master/frontend/public/images/rubyrails.png'
    />
    </div>
  <div class='container'>
    <p class='display-6'>
      <strong>Tuuitter-Blog-v1.0</strong> is a social media/blog app with user authentication and secure passwords. As stack; app built with Ruby on Rails, SQlite, Bootstrap, puma, bcrypt.
    </p>
    </br>
    <div class="d-flex justify-content-around">
      <p class='lead'>
        Ruby @2.6.6
      </p>
      <p class='lead'>
        Rails @6.1.3
      </p>
      <p class='lead'>
        Bootstrap @5.0.1
      </p>
      <p class='lead'>
        SQlite3 @1.4
      </p>
    </div>
    </br>
    <p class='lead'>
      All users are visible to others. As soon as a user profile created, tuuits can be created with a title, 100 chahracter limited tags, 1000 chahracter limited content. There are no confidential tuuits. All posts are publicly visible. Only the owners of tuuits can delete, edit posts. Also, users can change their profile information. If a user profile is deleted, all tuuits owned by that user will be deleted too. Admin can restrict users and tuuits. Search box is a simple search function for all titles, tags and users.
    </p>
    <h2>
      Contact me:
    </h2>
    <ul class="d-flex justify-content-around">
        <li class="display-6">
          <a 
            target="_blank"
            rel="noopener noreferrer" 
            href='https://www.linkedin.com/in/alibas01/'
          >
            LinkedIn
          </a>
        </li>

        <li class="display-6">
          <a 
            target="_blank"
            rel="noopener noreferrer" 
            href='https://github.com/alibas01'
          >
            GitHub
          </a>
        </li>

        <li class="display-6">
          <a 
            target="_blank"
            rel="noopener noreferrer" 
            href='https://twitter.com/AliBash01'
          >
            Twitter
          </a>
        </li>
        <li class="display-6">
          <a 
            target="_blank"
            rel="noopener noreferrer" 
            href='http://www.paypal.me/alibas01'
          >
            Paypal Me
          </a>
        </li>

          
      </ul>
    
  </div>